*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
/*Cabeçalho é Tela Principal*/
ol{
    list-style-type: upper-roman;
    margin: 3rem;

}

:root {
    --primary: #2c74e2;
    --hover: rgb(33, 85, 163);
    --altura-main: calc(100vh - 15rem);
}

li {
    font-size: 1.5rem;
    margin: 3rem;
}

body {
    font-size: 1.5rem;
    text-align: justify;
}

header {
    height: 10rem;
}
h1 {
    color: white;
    text-shadow: 2px 2px 5px black;
}

h2 {
    font-weight: 400;
    text-align: center;
}

h3 {
    font-weight: 400;
    color: black;
    font-weight: bold;
}

#voltar {
    font-weight: 400;
    color: black;

}



a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: underline;
}

#fundo {
    height: 70%;
    text-align: center;
    background-image: url(./img/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    font-size: 1.5rem;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #2c74e2;
    height: 4rem;
    width: 100%;
    border-radius: 1rem;

}
footer h1 {
    height: 100%;
    padding: 0.2rem;
}

/*Tabela do Curso*/

table {
    width: 100%;
    height: 100%;
    border: 0.1rem solid black;
    border-collapse: collapse;
    text-align: center;
}

thead {
    font-weight: bolder;
}

tbody {
    text-align: center;
}

table tr th,
table tr td {
    border: 0.1rem solid BLACK;
    padding: 0.1rem;
}
 
.bolder{
    font-weight: bold;
}

.centert{
    text-align: left;
}


/*Formulario*/
button {
    color: white;
    height: 5rem;
    width: 5rem;
    background-color: #4f8be6;
    border-radius: 50%;
}


fieldset {
    width: 100%;
    height: 100%;
    display: flex;




}






